body {
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("../img/New\ Scan\ 2023-05-11\ 1454-p2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


li {
    color: black;
    list-style: none;
}

.container {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25%;
}

.card {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}

.test {
    border: 5px solid black;
    border-radius: 32px;
    background-color: white;
    color: black;
    padding-right: 30px;
    margin-left: 15px;
    border-color: black;
    box-shadow: 0px 0px 0 0 black;
}

.test:hover {
    border: 5px solid black;
    border-radius: 32px;
    background-color: blueviolet;
    font-weight: bold;
    padding-right: 30px;
    margin-left: 15px;
    border-color: black;
    cursor: pointer;
    box-shadow: 6px 6px 2px 2px black;
} 

