body {
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("../img/New\ Scan\ 2023-05-11\ 1454-p2.jpg");

}


li {
    color: black;
    list-style: none;
}

.container {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25%;
}

.card {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}